name: Lint
on:
  push:
    tags:
      - v*
    branches:
      - '**'
  pull_request:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          skip-go-installation: false
          args: --timeout=10m
